extends layout

block content
  h1= title
  p Welcome to #{title}
  div 
    p functions
    textarea(name="funcs", cols="30", rows="10") 
        #{functions}
    p triggers
    textarea(name="trigs", cols="30", rows="10") 
        #{triggers}
    p scalers
    textarea(name="scal", cols="30", rows="10") 
        #{scalers}
        
        
